# Existing exclusions
**/target/
**/docs/
**/view/
**/.git
**/README.md
**/CITATION.cff
**/LICENSE
**/.vscode
**/.editorconfig

/.docker
/.github
/.sonarlint
/database

# Build and Dependencies
**/*.jar
**/*.war
**/*.ear
**/build/
**/.mvn/
**/node_modules/
**/package-lock.json

# IDE Files
**/.idea/
**/.settings/
**/.project
**/.classpath
**/*.iml
**/*.iws
**/*.ipr
**/.factorypath
**/.sts4-cache/

# Logs and Temp Files
**/*.log
**/logs/
**/*.tmp
**/*.temp
**/.env*
**/*.env
**/*.gz

# Test and Documentation
**/coverage/
**/*.md
**/javadoc/
**/swagger/

# OS Files
**/.DS_Store
**/Thumbs.db

# Development Files
**/.gitignore
**/.dockerignore
**/docker-compose*.yml
**/.editorconfig
**/sonar-project.properties

/analytics
/users
/laboratories
